<!-- footer button -->
<a class="button button__footer" href="./#top" title="Go to top"><span class="button__mask"></span></a>

<!-- footer -->
<footer class="footer">

    <!-- footer menu -->
    <nav class="menu menu__footer">
        <ul class="menu__container">
            <li class="menu__item"><a class="menu__link" href="https://adalab.es" title="Articles">Articles</a></li>
            <li class="menu__item"><a class="menu__link" href="https://adalab.es" title="Books">Books</a></li>
            <li class="menu__item"><a class="menu__link" href="https://adalab.es" title="Events">Events</a></li>
            <li class="menu__item"><a class="menu__link" href="https://adalab.es" title="Reasons">Reasons</a></li>
            <li class="menu__item"><a class="menu__link" href="https://adalab.es" title="Tips">Tips</a></li>
        </ul>
    </nav>

    <!-- social media menu -->
    <nav class="menu menu__socialmedia">
        <ul class="menu__container">
            <li class="menu__item"><a class="menu__link" href="https://twitter.com/Adalab_Digital" title="Twitter">Twitter</a></li>
            <li class="menu__item"><a class="menu__link" href="https://www.instagram.com/adalab_digital" title="Instagram">Instagram</a></li>
            <li class="menu__item"><a class="menu__link" href="https://adalab.es" title="Mastodon.social">Mastodon.social</a></li>
        </ul>
    </nav>

    <!-- copyright secction -->
    <section class="copyright">
        <p>&copy; @@year</p>
        <p>we <i class="fas fa-heart"></i> components</p>
    </section>

</footer>