<section class="section-special">
    <h5 class="section-special__title">Sección especial</h5>
    <div class="section-special__container">
        <h6>20% de descuento</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur molestie mi nec ipsum faucibus, eget facilisis quam fringilla. Quisque nec pretium lacus. Nunc vehicula turpis sit amet accumsan pulvinar. Donec sed elit vitae eros iaculis ullamcorper
            sed at nunc. Proin sed purus eu eros commodo dictum at fermentum ante.</p>
    </div>
</section>