/* fonts */

$font-primary: 'Roboto Slab',
serif;
$font-secondary: 'Roboto',
sans-serif;

/* colors */

$color-primary: #f26002;
$color-secondary: #0271bc;
$color-secondary-light: #8ccbea;
$color-secondary-lighter: #eff9ff;
$color-secondary-dark: #304268;
$color-neutral: #4a4a4a;
$color-neutral-light: #fff;
$color-neutral-dark: #000;

/* media queries */

@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1280px) {
        @content;
    }
}


/* extend directive */

.main-button {
    font-family: $font-secondary;
    font-weight: 500;
    font-size: 20px;
    border-radius: 45px;
}

.main-transition {
    transition: background-color ease .5s;
}