/* main content section */

.main-content {
    &__article {
        padding: 30px 15px 45px;
    }
    &__link {
        color: $color-secondary-light;
        font-size: 14px;
        line-height: 30px;
        margin-bottom: 1px;
    }
    &__title {
        font-family: $font-primary;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 15px;
    }
    &__text {
        color: $color-neutral;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 30px;
    }
    &__button {
        display: inline-block;
        color: $color-primary;
        font-family: $font-secondary;
        font-weight: 500;
        font-size: 20px;
        line-height: 41px;
        padding: 0 23px;
        background-color: $color-neutral-light;
        border: 2px solid $color-primary;
        border-radius: 45px;
        &:hover {
            color: $color-neutral-light;
            background-color: $color-primary;
        }
    }
}


/* reasons to purchase section */

.reasons {
    background-color: $color-secondary-lighter;
    padding: 30px 15px 60px;
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 30px 1fr 1fr 1fr 45px;
    grid-row-gap: 45px;
    text-align: center;
    &__title {
        font-family: $font-primary;
        font-size: 24px;
        line-height: 30px;
        //background-color: pink;
    }
    &__article {
        &--first {
            //background-color: pink;
        }
        &--second {
            //background-color: pink;
        }
        &--third {
            //background-color: pink;
        }
    }
    &__subtitle {
        font-family: $font-primary;
        font-size: 18px;
        line-height: 30px;
    }
    &__text {
        width: 180px;
        margin: 0 auto;
        font-family: $font-secondary;
        font-size: 18px;
        line-height: 30px;
    }
    &__button-container {
        //background-color: pink;
    }
    &__button {
        width: 184px;
        margin: 0 auto;
        color: $color-neutral-light;
        font-family: $font-secondary;
        font-weight: 500;
        font-size: 20px;
        line-height: 41px;
        background-color: $color-primary;
        border-radius: 45px;
        &:hover {
            color: $color-neutral-light;
            background-color: $color-secondary;
        }
    }
}